<!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
<link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />
<input type="checkbox" id="btn-menu">
<label for="btn-menu" id="imagen"><img src="~/Images/DropDown_Menu-2-512.png"></label>
<nav class="menu">
    <ul>

        @using Microsoft.AspNet.Identity

        @if ((string)System.Web.HttpContext.Current.Session["admin"] == "true" && Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-left">
                    <h7>
                        Hola administrador:
                    </h7>
                    <h4>
                        @User.Identity.GetUserName()
                    </h4>
                    
                        @*pestañas de admin*@

                    <li><h4>@Html.ActionLink("Casas", "AdministrarCasasAdmin", "Home")</h4></li> @*Pagina de casas (clientes)*@
                    <li><h4>@Html.ActionLink("Dispositivos", "AdministrarDispositivosAdmin", "Home")</h4></li> @*Pagina de dispositivos*@
                    <li><h4>@Html.ActionLink("Cargar info", "Index", "FileUpload")</h4></li>@*Pagina de Carga de Informacion*@
                        <li><h4>@Html.ActionLink("Reportes", "ReportesAdmin", "Home")</h4></li>@*Pagina de reportes*@
                        <li><h4>@Html.ActionLink("Mapa", "Map", "Home")</h4></li> @*Pagina de mapa*@
                        <li><h4>@Html.ActionLink("Gestionar cuenta", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</h4></li>
                        <li><h4><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></h4></li>
                    
                </ul>
            }
        }
        else if (Request.IsAuthenticated)
        {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
                    {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-left">

                        <h3>
                            Hola usuario: @User.Identity.GetUserName()
                        </h3>


                        @*pestañas de usuario*@
                        <li><h4>@Html.ActionLink("Tu casa", "DispositivosPropios", "Home")</h4></li> @*Pagina de dispositivos*@
                        <li><h4>@Html.ActionLink("Cargar info", "IndexClie", "FileUpload")</h4></li>
                        <li><h4>@Html.ActionLink("Mapa", "Map", "Home")</h4></li> @*Pagina de mapa*@
                        <li><h4>@Html.ActionLink("Gestionar cuenta", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</h4></li>
                        <li><h4><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></h4></li>
                    </ul>
                    }
        }
                else
                {
                    <ul class="nav navbar-nav navbar-left">
                        <li><h4>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4></li>
                        <li><h4>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</h4></li>
                        <li><h4>@Html.ActionLink("Mapa", "Map", "Home")</h4></li>
                    </ul>
                }
     </ul>
</nav>