@model IEnumerable<TP0.Helpers.Static.DispositivoEstatico>
 
<div class="jumbotron">

</div>
<script>
    
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="text-align: center;">
      
            @Html.DisplayNameFor(model => model.EsInteligente)
        </th>

        <th style="text-align: center;">
       
        </th>
        <th>
        
        </th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.EsInteligente)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nombre, "DetallesInteligente", new { id = item.DispositivoID })
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.KWxHora)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.EsInteligente)
                </td>
                <td style="text-align: center;">
              
                </td>
                <td>
                 
                </td>
                <td>
                
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nombre, "DetallesEstandar", new { id = item.DispositivoID })
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.KWxHora)
                </td>
                <td style="text-align: center;">

                </td>
                <td></td>
                <td></td>
            </tr>
        }
    }
</table>
