@model TP0.Helpers.Cliente

<div class="jumbotron">
    <h2>Casa de @Model.Nombre @Model.Apellido</h2>
    <h4>Usuario: @Model.Username</h4>
    <h4>Telefono: @Model.Telefono</h4>
    <h4>Direccion: @Model.Domicilio</h4>
    <h4>Documento (@Model.TipoDocumento): @Model.Documento</h4>
</div>
<div class="jumbotron">
    <h3>Dispositivos</h3>
    <h4>Dispositivos totales: @Model.DispositivosTotales()</h4>
    <h4>Dispositivos estandares: @Model.DispositivosEstandares()</h4>
    <h4>Dispositivos inteligentes: @Model.DispositivosInteligentes()</h4>
    <h4>Dispositivos encendidos: @Model.DispositivosEncendidos()</h4>
    <h4>Dispositivos apagados: @Model.DispositivosEnAhorro()</h4>
    <h4>Dispositivos en ahorro: @Model.DispositivosEnAhorro()</h4>
    <h3>Consumo promedio total: @Model.TotalConsumo() KwH</h3>
    @using (Html.BeginForm("ConsultarConsumoAdmin", "Home", new { id = Model.UsuarioID}, FormMethod.Get))
    {@*Boton para consultar consumo entre fechas*@
    <input type="submit" class="btn btn-default" value="Consultar consumo por periodo">
}
    @using (Html.BeginForm("SimplexView", "Home", new { id = Model.UsuarioID }, FormMethod.Post))
    {@*Boton para ejecutar el simplex*@
    <input type="submit" class="btn btn-default" value="Conocer recomendación" onclick="alertBox()">
}
</div>
<script>
    function alertBox() {
        alert("Simplex ejecutado");
    }
</script>