@model TP0.Helpers.DispositivoInteligente

<div class="jumbotron">
    <h2>@Model.Nombre</h2>
    <h4>KW por hora: @Model.KWxHora</h4>
    <h4>Consumo Acumulado en minutos: @Model.ConsumoAcumulado</h4>
</div>
<div class="jumbotron">
    <h4>Estado actual: @Model.GetEstado().Desc</h4>
    @Html.ActionLink("Encender", "Encender2", new { id = Model.DispositivoID, estadoActual = Model.Desc }) |
    @Html.ActionLink("Apagar", "Apagar2", new { id = Model.DispositivoID, estadoActual = Model.Desc }) |
    @Html.ActionLink("Ahorro", "Ahorro2", new { id = Model.DispositivoID, estadoActual = Model.Desc })
</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Sensor")
            </th>
          
            <th style="text-align: center;">
                @Html.DisplayName("Descripción")
            </th>
            <th style="text-align: center;">
                @Html.DisplayName("Se cumple")
            </th>
            <th style="text-align: center;">
                @Html.DisplayName("Valor minimo")
            </th>
            <th style="text-align: center;">
                @Html.DisplayName("Valor maximo")
            </th>
            <th style="text-align: center;">
            </th>
        </tr>
    @foreach (TP0.Helpers.Sensor s in Model.GetSensores())
    {
        foreach (TP0.Helpers.Regla r in s.Reglas)
        {
        <tr>
            
            <td style="text-align: center;">
                @r.Tipo
            </td>
            <td style="text-align: center;">
                @r.Descripcion
            </td>
            <td style="text-align: center;">
                @r.SeCumple
            </td>
            <td style="text-align: center;">
                @r.ValorMax
            </td>
            <td style="text-align: center;">
                @r.ValorMin
            </td>
            <td style="text-align: center;">
                @Html.ActionLink("Borrar regla", "BorrarRegla", new { rID = r.ReglaID, dID = Model.DispositivoID })
            </td>
        </tr>
        }
    }
        <tr>
            <td>
                @Html.ActionLink("+Crear nueva regla", "CrearRegla", new { id = Model.DispositivoID })
            </td>
          
        </tr>
</table>
<div>
    @using (Html.BeginForm("BorrarDispositivoClie", "Home", new { id = Model.DispositivoID }))
    {
        <input type="submit" class="btn btn-default" value="Eliminar dispositivo" onclick="alertBox()">
    }
    <h4><font color="red">ADVERTENCIA: ESTA ACCIÓN NO PUEDE DESHACERSE</font></h4>
</div>
<script>
    function alertBox() {
        alert("Dispositivo eliminado exitosamente");
    }
</script>
