@model IEnumerable<TP0.Helpers.Dispositivo>

<h2>@ViewBag.Message</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KWxHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsInteligente)
        </th>

        <th>
            @Html.DisplayName("Consumo Acumulado en minutos")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th> </th>
    </tr>

@foreach (var item in Model) {
    if (item.EsInteligente)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KWxHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsInteligente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumoAcumulado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.ActionLink("Encender", "Encender", new { id = item.DispositivoID, estadoActual = item.Desc }) |
            @Html.ActionLink("Apagar", "Apagar", new { id = item.DispositivoID, estadoActual = item.Desc }) |
            @Html.ActionLink("Ahorro", "Ahorro", new { id = item.DispositivoID, estadoActual = item.Desc })
        </td>
    </tr>
    }
    else
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KWxHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsInteligente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumoAcumulado)
        </td>
        <td></td>
        <td></td>
    </tr>
    }
}

</table>

<h3>  Consumo promedio de dispositivos inteligentes: @ViewBag.total KwH</h3>

